@font-face {
    font-family: TNanti;
    src: url(/complementos/css/fonts/TNanti-Demo.otf);
  }
@font-face {
    font-family: W95FA;
    src: url(/complementos/css/fonts/W95FA.otf);
  }

	html {
		font-size: 16pt;
	}

		@media screen and (max-width: 1680px) {

			html {
				font-size: 12pt;
			}

		}

		@media screen and (max-width: 736px) {

			html {
				font-size: 11pt;
			}

		}

		@media screen and (max-width: 360px) {

			html {
				font-size: 10pt;
			}

		}

	p {
	color: #e797b1;
    text-align: center;
    font-family: W95FA;
	font-size: 3vw;
	margin-top: 16px;
	}
		  
		  h1 {
			font-family: TNanti;
			text-align: center;
			position: relative;
			  font-size: 7vw;
			  color: rgb(133, 137, 195);
		  }

		  .vaporwave {
			text-shadow: -.0625rem -.0625rem 0 black, .0625rem .0625rem 0 white;
		}

		* {
			margin: 0;
			box-sizing: border-box;
		}
		
		:root {
			background: url("/logos/test.png") no-repeat center center fixed;
			background-size: cover;
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			font-size: 160%;
		}

	.aesthetic-windows-95-button, .aesthetic-windows-95-button-title-bar, .aesthetic-windows-95-taskbar .aesthetic-windows-95-taskbar-start {
		border: 3px solid;
		border-top-color: #DFDFDF;
		border-left-color: #DFDFDF;
		border-bottom-color: #808080;
		border-right-color: #808080;
		box-shadow: 1px 1px 0 0 #000;
		color: #000;
		background-color: #BFBFBF;
		font-family: W95FA;
		margin-top: 50px;
		margin-right: 250px;
		margin-left: 250px;
		letter-spacing: 10px;
		text-align: center;
		padding: 3px;
	 }
		.aesthetic-windows-95-button button, .aesthetic-windows-95-button-title-bar button, .aesthetic-windows-95-taskbar .aesthetic-windows-95-taskbar-start button {
		  background: none;
		  color: inherit;
		  border: none;
		  font: inherit;
		  cursor: pointer;
		  outline: none;
		  padding: 3px;
	 }
		  .aesthetic-windows-95-button button:focus, .aesthetic-windows-95-button-title-bar button:focus, .aesthetic-windows-95-taskbar .aesthetic-windows-95-taskbar-start button:focus {
			outline: 1px dashed #000; }
		.aesthetic-windows-95-button:active, .aesthetic-windows-95-button-title-bar:active, .aesthetic-windows-95-taskbar .aesthetic-windows-95-taskbar-start:active {
		  transform: translateY(1px);
		  box-shadow: 1px 1px #000; }
		.aesthetic-windows-95-button:focus, .aesthetic-windows-95-button-title-bar:focus, .aesthetic-windows-95-taskbar .aesthetic-windows-95-taskbar-start:focus {
		  outline: none; }

	#wrapper {
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		-moz-flex-direction: column;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
		-moz-align-items: center;
		-webkit-align-items: center;
		-ms-align-items: center;
		align-items: center;
		-moz-justify-content: space-between;
		-webkit-justify-content: space-between;
		-ms-justify-content: space-between;
		justify-content: space-between;
		position: relative;
		min-height: 100vh;
		width: 100%;
		padding: 4rem 2rem;
		z-index: 3;
	}

		#wrapper:before {
			content: '';
			display: block;
		}

		@media screen and (max-width: 1680px) {

			#wrapper {
				padding: 3rem 2rem;
			}

		}

		@media screen and (max-width: 736px) {

			#wrapper {
				padding: 2rem 1rem;
			}

		}

		@media screen and (max-width: 480px) {

			#wrapper {
				padding: 1rem;
			}

		}
